%h2 Edit

%form{:method => "post"}
  %label{:for => "name"} Name
  %input{:type => "text", :id => "name", :name => "name", :value => @project.name, :size => "40"}
  
  %br
  
  %label{:for => "date"} Date
  %input{:type => "text", :id => "date", :name => "date", :value => @project.date.to_s.split(" ")[0], :size => 12}
  
  %br
  
  %label{:for => "slug"} Slug
  %input{:type => "text", :id => "slug", :name => "slug", :value => @project.slug, :size => "40"}
  
  %br
  
  %label{:for => "readme"} Overview
  %textarea{:id => "readme", :name => "readme", :cols => 40, :rows => 16}
    =@project.readme
  
  %br
  
  %label{:for =>  "ll"} Live Links
  
  %input{:type => "submit", :value => "Save"}
  

  