%h2= request.path_info.split("/")[-1] == "add" ? "New Project" : "Edit"

=styled_flash

%form{:method => "post"}
  %label{:for => "name"} Name
  %input{:type => "text", :id => "name", :name => "name", :value => @project.name ? @project.name : "", :size => "40"}
  
  %br
  
  %label{:for => "slug"} Slug
  %input{:type => "text", :class => @error_field == "slug" ? "err" : nil, :id => "slug", :name => "slug", :value => @project.slug ? @project.slug : "", :size => "40"}
  
  %br
  
  %label{:for => "date"} Date
  %input{:type => "text", :class => @error_field == "date" ? "err" : nil, :id => "date", :name => "date", :value => @project.date ? @project.date.to_s.split(" ")[0] : params[:date], :size => 12}
  
  %br
  
  %label{:for => "readme"} Overview
  %textarea{:id => "readme", :name => "readme", :cols => 40, :rows => 16}
    =@project.readme
  
  %br
  
  %label{:for =>  "ll"} Live Links
  
  %input{:type => "submit", :value => "Save"}
  

  