=styled_flash

%div
  Stuff I have worked on...

%dl
  - @projects.each do |project|
    %dt.project
      %a{:href => "/#{project.slug}"}= project.name
      %dd
        - if(project.readme.split("\n")[0])
          =project.readme.split("\n")[0].strip.gsub(/\.$/, "")
          - if project.readme.split("\n")[0].length < project.readme.length
            = "..."