%h2= request.path_info.split("/")[-1] == "add" ? "New Code Section" : "Edit"

%form{:method => "post"}
  %label{:for => "name"} Name
  %input{:type => "name", :id => "name", :name => "name", :value => @repo.name, :size => "40"}
  
  %br
  
  %label{:for => "link"} Link
  %input{:type => "text", :id => "link", :name => "link", :value => @repo.url, :size => "60"}
  
  %br
  
  %label{:for => "notes"} Notes
  %textarea{:id => "notes", :name => "notes", :cols => 40, :rows => 16}
    =@repo.notes
  
  %br
  
  %input{:type => "submit", :value => "Save"}